html {
    font-family: 'Fira Sans', sans-serif;
}

body
{
    background: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png") center;
}

.header {
    background-color: rgba(36, 36, 36, 0.562);
}

.main {
    color: white;
    background-color: rgba(63, 63, 63, 0.452);
}


.whoami {
    color: yellow;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.photo {
    width: 200px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.text {
    font-size: 18px;
    margin-left: 10px;  
}

h1 {
    padding-top: 15px;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

h2 {
color: yellow;
font-size: 25px;
margin-left: 10px;
}

a {
    color: aqua;
    
}

.code {
    color: red;
    font-size: 15px;
}